<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=latin" as="font">
    <link rel="stylesheet" type="text/css" href="/stylesheets/blog.css">
    <script type="text/javascript" src="/javascripts/navCues.js"></script>
    <title><%= @title %></title>
  </head>

  <body>
    <div class="border"></div>

    <header>
      <img id="avatar" 
           src="images/kurth.jpg"
           alt="Kurth O'Connor"
       />
      <h1>
        <a href="/resume" target="_blank">
          <%= @title %>
        </a>
      </h1>
    </header>

    <main>

      <article id="about">
        <% if @message %>
          <h2><%= @message %></h2>
        <% end %>

        <p>
          <span id="greeting">Hi, I'm Kurth</span>, a software engineer based in Brooklyn, NY. I have significant experience in both Ruby and JavaScript ecosystems, SQL, NoSQL, data streaming and pipelines. I am also an accomplished researcher and educator.
        </p>

        <p>
          Most recently, I built <a href="https://crato-logging.github.io" target="_blank"><span>Crato</span></a>, an open source framework for small applications to easily deploy centralized logging.
        </p>

      </article>

      <section class="index" >

        <% @topics.each do |topic| %>
          <article>
          <h2>
            <% if topic.url %>
              <a href=<%= topic.url %> target="_blank"><%= topic.name %></a>
            <% else %>
              <%= topic.name %>
            <% end %>
          </h2>

          <ul>
            <li>
              <% if topic.url %>
                <a href=<%= topic.url %> target="_blank">
              <% end %>
                  <img 
                     class=<%= topic.imagelg ? "topic-img-lg" : "topic-img-sm" %>
                     src="<%= topic.image %>"
                     alt="<%= topic.name %>"
                   />
              <% if topic.url %>
                </a>
              <% end %>
            </li>

            <li>
              <p>
                <%= topic.description %>
                <% if topic.url %>
                  <a href=<%= topic.url %> >
                    <span class="more">Read the case study.</span>
                  </a>
                  <% end %>
              </p>
            </li>

          </ul>

          <% if topic.name == "Crato" %>
            <h2 class="divider">
              Other Projects
            </h2>
          <% end %> 
        <% end %>
        </article>
      </section>
    </main>

    <footer>

      <a href="/resume" target="_blank">
        <span >resume</span>
      </a>
      <a href="mailto:kurth@kurthoconnor.com">
        <span>email</span>
      </a>
      <a href="https://www.linkedin.com/in/kurth-o-connor-01986a169" target="_blank">
        <span>linkedin</span>
      </a>
      <a href="https:github.com/jkurthoconnor" target="_blank">
        <span>github</span>
      </a>

    </footer>
  </body>
</html>


