<section class="index" >
  <h2>Recent Posts</h2>
  <% @posts.each do |article| %>

    <ul>
      <li><a href=<%= uri(article.resource) %>><%= article.title %></a></li>
      <li class="date"><%= article.date %></li>
      <li class="tags"><%= article.tags %></li>
      <li>
        <p>
          <a href=<%= uri(article.resource) %>>
            <%= article.abstract %>
            <span class="more">>>></span>
          </a>
        </p>
      </li>
    </ul>

  <% end %>
</section>
