<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link rel="stylesheet" type="text/css" href="/stylesheets/blog.css">
    <script type="text/javascript" src="/javascripts/navCues.js"></script>

    <title><%= @title %></title>
  </head>

  <body>
    <header>
      <h1>kurth o'connor</h1>
      <nav>
        <a href="/" class="<%= @home_status %>" >home</a>
        <a href="/about" class="<%= @about_status %>" >about</a>
        <a href="/projects" class="<%= @project_status %>" >projects</a>
        <a href="/blog" class="<%= @blog_status %>" >blog</a>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <a href="https://www.linkedin.com/in/kurth-o-connor-01986a169" target="_blank">linkedin</a>
      <a href="https:github.com/jkurthoconnor" target="_blank">github</a>
      <a href="">mail</a>
      <a href="">gpg</a>
    </footer>

  </body>
</html>


