<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=latin" as="font">
    <link rel="stylesheet" type="text/css" href="/stylesheets/blog.css">
    <script type="text/javascript" src="/javascripts/navCues.js"></script>
    <title><%= @title %></title>
  </head>

  <body>
    <div class="border"></div>

    <header>
      <img id="avatar" 
           src="https://github.com/jkurthoconnor.png" 
           alt="Kurth O'Connor"
       />
      <h1><%= @title %></h1>
    </header>

    <main>

      <nav>
        <a href="/">
          <span class="<%= @home_status %>" >home</span>
        </a>
        <a href="/about">
          <span class="<%= @about_status %>" >about</span>
        </a>
        <a href="/projects">
          <span class="<%= @project_status %>" >projects</span>
        </a>
        <a href="/resume">
          <span target="_blank" >resume</span>
        </a>
        <%# <a href="/blog" class="<%= @blog_status %1>" >blog</a> %>
      </nav>

      <%= yield %>

    </main>

    <footer>

      <a href="https://www.linkedin.com/in/kurth-o-connor-01986a169" target="_blank">
        <span>linkedin</span>
      </a>
      <a href="https:github.com/jkurthoconnor" target="_blank">
        <span>github</span>
      </a>
      <a href="mailto:kurth@kurthoconnor.com">
        <span>email</span>
      </a>

    </footer>

    <%# <p class="license"> %>
    <%#   <small>Site content licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a> %>
    <%#   </small> %>
    <%# </p> %>
  </body>
</html>


