<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link rel="stylesheet" type="text/css" href="/stylesheets/blog.css">
    <script type="text/javascript" src="/javascripts/navCues.js"></script>

    <title><%= @title %></title>
  </head>

  <body>
    <div class="border"></div>
    <header>
      <h1><%= @title %></h1>
      <nav>
        <a href="/" class="<%= @home_status %>" >home</a>
        <a href="/about" class="<%= @about_status %>" >about</a>
        <a href="/projects" class="<%= @project_status %>" >projects</a>
        <a href="/blog" class="<%= @blog_status %>" >blog</a>
      </nav>

    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <a href="https://www.linkedin.com/in/kurth-o-connor-01986a169" target="_blank">linkedin</a>
      <a href="https:github.com/jkurthoconnor" target="_blank">github</a>
      <a href="">email</a>
      <a href="">gpg</a>
    </footer>

    <p class="license" >Code, design and content by Kurth O'Connor.</p>
    <p class="license last-line">Content licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a></p>
  </body>
</html>


