<section class="index" >
  <% @projects.each do |project| %>

    <h2><a href=<%= project.url %> target="_blank"><%= project.name %></a></h2>

    <ul>
      <li>
        <img 
           class=<%= project.imagelg ? "project-img-lg" : "project-img-sm" %>
           src="<%= project.image %>"
           alt="<%= project.name %>"
       />
      </li>
      <li>
        <p>
        <a href=<%= project.url %> >
          <%= project.description %>
          <span class="more">>>></span>
        </a>
        </p>
      </li>
    </ul>
  <% end %>
</section>
